manifest {
    name = 'PopGenDRSim'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/edbiomedai/PopGenEstimatorComparison.jl'
    description = 'Workflow for the evaluation of Double Robust estimators in Population Genetics'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.10'
    version = '0.1.0'
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    ci {
        includeConfig 'conf/ci.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
}
