params {
    DATASET = "../dataset/results/dataset.arrow"
    N_REPEATS = 50
    RNGS = [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    SAMPLE_SIZES = [20000, 100000, 500000]
    ESTIMATORS = "../assets/estimators-configs/*"
    ESTIMANDS = "../assets/estimands/estimands.jls"
    DENSITY_ESTIMATORS = "../assets/density_estimators.jl"
    BATCH_SIZE = 3
    TRAIN_RATIO = 6
}